<header>
  <div class="navigation-container">
    <div class="logo-container"><img src="/assets/img_1.png" alt="logo"></div>
    <div class="button-bar">
      <button (click)="onSaveState()">Save</button>
      <button (click)="onLoadState()">Load</button>
    </div>


<div class="input-container">




    <mat-form-field appearance="fill">
      <mat-label>Rotation Speed-X</mat-label>
      <input matInput type="number" [(ngModel)]="cubeSettings.rotationSpeedX" (blur)="upDate()" (keydown)="upDate()">
      <button *ngIf="cubeSettings.rotationSpeedX" matSuffix mat-icon-button aria-label="Clear" (click)="cubeSettings.rotationSpeedX=0">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rotation Speed-Y</mat-label>
      <input matInput type="number" [(ngModel)]="cubeSettings.rotationSpeedY" (blur)="upDate()" (keydown)="upDate()">
      <button *ngIf="cubeSettings.rotationSpeedY" matSuffix mat-icon-button aria-label="Clear" (click)="cubeSettings.rotationSpeedY=0">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

</div>

  </div>
</header>
