@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&family=Oswald:wght@400;500;700&display=swap');

.navigation-container {
  background-color: #26b4b1;
  font-family: 'Mochiy Pop One', sans-serif;
  display: flex;
  justify-content: space-between;
}

.button-bar {

  display: flex;
  color: #26b4b1;
  align-items: center;

  button {
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    height: 50px;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    border: none;
    margin: 10px;


    color: #eaf7f7;

 }

  button:hover {
    color: black;
    font-size: 18px;
  }
}

.input-container{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    appearance: none;
    font-size: 16px;
  }
}
