<header>
  <div class="container">
    <h3 class="logo">ANGULAR THREE.JS</h3>

    <nav>
      <ul>
        <li><a (click)="onSaveState()">Save State</a> </li>
        <li><a (click)="onLoadState()">Load State</a> </li>
      </ul>
    </nav>
  </div>

  <div class="settings-container">

    <label class="custom-field three">
      <input type="number" placeholder="&nbsp;" [(ngModel)]="cubeSettings.rotationSpeedX" (blur)="upDate()" (keydown)="upDate()"/>
      <span class="placeholder">Enter Rotation Speed-X</span>
      <span class="border"></span>
    </label>

    <label class="custom-field three">
      <input type="number" placeholder="&nbsp;" [(ngModel)]="cubeSettings.rotationSpeedY" (blur)="upDate()" (keydown)="upDate()"/>
      <span class="placeholder">Enter Rotation Speed-Y</span>
      <span class="border"></span>
    </label>

  </div>
</header>
